<body bgcolor = "#E6E6FA">
<h1>this is the home page </h1>

<ul>
<li>This</li>
<li>Is</li>
<li>a</li>
<li>list</li>
<li>1</li>
</ul>
<%= image_tag('1.jpg') %>

<%= link_to 'About', about_path %>
</body>